/* import { em } from '@mantine/core'; */
.userWrapper {
  position: relative;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  border-radius: var(--mantine-radius-lg);
  padding-top: rem(135px);
  border: rem(1px) solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-8));
  margin-top: em(95px);

  @media (min-width: em(375px)) {
    max-width: em(335px);
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    flex-wrap: nowrap
  }

  @media (min-width: em(768px)) {
    max-width: em(704px);
    flex-direction: column;
    flex-wrap: nowrap
  }
}

.form {
  display: flex;
  flex-wrap: nowrap;
  /* flex: 1; */
  /* padding: var(--mantine-spacing-xl); */
  /* padding-left: calc(var(--mantine-spacing-xl) * 2); */
  border-left: 0;
  /* justify-items: center; */
}

.m-8fb7ebe7 {
  display: flex;

  @media (min-width: em(375px)) {
    width: em(299px);
    flex-direction: column;
    flex-wrap: nowrap
  }

  @media (min-width: em(768px)) {
    width: em(354px);
    flex-direction: column;
    flex-wrap: nowrap
  }
}

input {
  display: flex;
  @media (min-width: em(375px)) {
    width: em(299px);
    flex-direction: column;
    flex-wrap: nowrap;
  }

  @media (min-width: em(768px)) {
    width: em(354px);
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.fields {
  /* @media (min-width: em(375px)) {
   
    max-width: em(299px);
    height: em(42px); 
  } */
  margin-top: rem(-12px);

}

/* .fieldInput {
  flex: 1;

  &+& {
    margin-left: var(--mantine-spacing-md);

    @media (max-width: mantine-breakpoints-xs) {
      margin-left: 0;
      margin-top: var(--mantine-spacing-md);
    }
  }
} */

.fieldsGroup {
  display: flex;

  @media (max-width: mantine-breakpoints-xs) {
    flex-direction: column;
  }
}





.control {
  @media (min-width: em(375px)) {
    /* flex: 1; */
    margin-bottom: em(40px);
    margin-top: em(40px);
    max-width: em(195px);
    height: em(46px);
    background-color: var(--mantine-color-blue-4);
  }

  @media (min-width: em(768px)) {
    /* flex: 1; */
    max-width: em(262px);
    height: em(48px);
    /* background-color: rgb(39, 99, 158); */
    background-color: var(--mantine-color-blue-4);
  }

}